.navbar-playon{
  padding: 10px;
  --background: var(--primary-color, #5900F8) !important;
  background-color: var(--primary-color, #5900F8) !important;
  text-align: center;
}

ion-header {
  --background: var(--primary-color, #5900F8) !important;
  background-color: var(--primary-color, #5900F8) !important;
}

ion-toolbar {
  --background: var(--primary-color, #5900F8) !important;
  background-color: var(--primary-color, #5900F8) !important;
}

.playon-logo{
  width: 50%;
}
